{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>News</h2>

    <section>
      <h3>Practical Information</h3>

      <h4>On Sprint Days (Thursday and Friday)</h4>
      <p>
        We will welcome you <strong>from 9:30AM in the mornings</strong>, and tea and coffee will be available. Security staff may carry out a visual check of bags and luggage.
      </p>
      <p>
        <strong>At 10AM</strong>, we meet in <strong>room B003</strong> for a presentation of the different sprints.
      </p>
      <p>
        For lunch, there are various restaurants, bakeries and shops around the campus. You can take away food and eat in the cafeteria area of the building on the garden level.
      </p>

      <h4>Thursday and Friday Evenings</h4>
      <p>
        Tables are reserved at <strong><a href="https://www.reperes-lyon.fr/">Repère(s)</a> (2 rue Camille Jordan, 69001 Lyon) from 6PM</strong>, so feel free to drop in during the evening to chat with people from the conference, grab a bite to eat or have a drink.
      </p>
      <p>
        If you have opted for <strong>the guided tours of Lyon, they will leave from the Campus at 5:15PM</strong>, accompanied by <a href="{{ url_for('page', name='speakers', lang=lang, _anchor='speaker-PXTG9M') }}">Arthur</a>.
      </p>

      <h4>Conference Days (Saturday and Sunday)</h4>
      <p>
        We will welcome you <strong>from 8:20AM</strong> with a <a href="https://fenotte.coop/">Fenotte</a> breakfast. Security staff may carry out a visual check of bags and luggage.
      </p>
      <p>
        For lunch, the E'ben foodtruck will be on site on the garden level. The foodtruck serves pizzas, panuozzos, panuozettas, lasagnes and salads: you can see their full menu <a href="https://ebenpizza.odoo.com/">here</a>.<br/>
        It's possible to preorder your meal (until 11AM each day) to save time by calling or sending a text message to <a href="tel:+33642100063">(+33) 6 42 10 00 63</a> giving your order, firstname and the expected hour ; or by preordering directly at the foodtruck.
      </p>

      <h4>The AFPy Birthday Party</h4>
      <p>
        AFPy is celebrating its 20th anniversary this year. The traditional Saturday afternoon snack will be a birthday snack, with cakes by Mima Pâtisse.
      </p>

      <h4>Saturday Evening</h4>
      <p>
        For those of you who have opted for the Saturday evening option, we're looking forward to seeing you <strong>at 7:30PM at La Cordée Valmy</strong> (6 place Dumas de Loire, 69009 Lyon).
      </p>

      <h4>For the Whole Event</h4>
      <p>
        As part of our commitment to the environment, <strong>we will not be providing water bottles or eco-cups</strong>. We therefore recommend that you bring a water bottle. Also, if you have already come to a previous PyConFR and still have your neck strap, we invite you to re-use it.
      </p>
      <p>
        The <a href="https://www.afpy.org/discord">AFPy Discord</a> is the preferred means of communication if you have any questions during the conference. We recommend that you write in the general channel as it is linked to the IRC channel.
      </p>
      <p>
        <strong>Throughout the PyConFR (including the evenings), the AFPy Code of Conduct applies.</strong> A dedicated team is available to deal with any problems. If you are a witness or a victim, don't hesitate to contact a member of the team or someone from the organisation. <strong>The team can also be contacted by e-mail (diversite@afpy.org) and by telephone (+33 7 80 91 39 64).</strong>
      </p>

      <h4>Call for Volunteers</h4>
      <p>
        We're always on the lookout for volunteers to help out during the event, whether to welcome people, coordinate sessions, help set up or tidy up, etc.
      </p>
      <p>
        If you're interested, please let us know on <a href="https://discuss.afpy.org/t/appel-a-volontaires-pyconfr-2025/2783">this Discourse topic</a>.
      </p>
    </section>

    <section>
      <h3>The Schedule is Out!</h3>
      <p>
        The PyConFR 2025 schedule is now <a href="{{ url_for('page', name='schedule', lang=lang) }}">available</a>!
      </p>
      <p>
        The first two days of the conference will be devoted to sprints. The following two days will be dedicated to lectures (long and short) and workshops.
      </p>
      <p>
        As always, PyConFR is a free event, but <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">registration is required</a>.
      </p>
      <p>
        When you register, you can also:
      </p>
      <ul>
        <li>register your children for the <a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">children's area</a> on Saturday and Sunday,</li>
        <li>reserve a t-shirt,</li>
        <li>register for the <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">Saturday evening event</a>,</li>
        <li>register for a <a href="{{ url_for('page', name='schedule', lang=lang) }}#tour">guided tour</a> of Lyon on Thursday evening or Friday evening.</li>
      </ul>
      <p>
        During this edition, a <a href="{{ url_for('talks', lang=lang, category='workshop', _anchor='talk-RJ8GMB') }}">programming workshop for children</a> will take place on Saturday afternoon. <strong>Places are limited, so don't forget <a href="https://www.helloasso.com/associations/afpy/evenements/atelier-de-programmation-pour-les-enfants-1">to register your children</a>!</strong>
      </p>
      <p>
        This edition will also feature the <a href="{{ url_for('talks', lang=lang, category='lunch', _anchor='talk-SLPLFX') }}">PyLadies lunch</a>. This free lunch, which <a href="https://www.helloasso.com/associations/afpy/evenements/dejeuner-pyladies-a-la-pyconfr-2025">requires registration</a>, is intended to bring together women (cis and trans), trans men, non-binary and agender people who use Python, with the aim of helping them become active members and drivers of the community. One of the objectives is also to forge links between the PyLadies community and the rest of the French-speaking Python community.
      </p>
      <p>
        On Sunday morning, AFPy will hold its general meeting. If you wish to vote, please ensure that <a href="https://www.afpy.org/adherer">your membership fees are up to date</a>.
      </p>
    </section>

    <section>
      <h3>Registration is opened</h3>

      <p>
        Registration for the PyConFR 2025 is <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">opened</a>!
      </p>
      <p>
        Even if the event is free, registration is mandatory.
      </p>
      <p>
        A free <a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">area for chidren</a>
        from 3 years old to 12 years old is available on Saturday and Sunday, upon registration.
      </p>
      <p>
        You can also book a t-shirt and register for the <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">Saturday dinner</a>.
      </p>
      <p>
        Also, the general assembly of the association will take place on Sunday morning.
        Don’t forget to have your <a href="https://www.helloasso.com/associations/afpy/adhesions/adhesion-2025-a-l-afpy">membership</a> up to date if you want to vote.
      </p>
      <p>
        Schedule will be available during September!
      </p>
    </section>

    <section>
      <h3>CFP and Financial Assistance Openings</h3>

      <p>
        The PyConFR 2025 <a href="https://cfp.pycon.fr/pyconfr-2025/cfp">CFP (Call For Proposal)</a> is now open!
      </p>
      <p>
        The CFP allows you to propose your topics for sprints, conferences and workshops.
      </p>
      <p>
        <strong>You can submit your proposals until July 20, 2025</strong>. At the end of
        the open period, AFPy Steering Committee members will review all
        proposals and the timetable can be put together!
      </p>
      <p>
        You can propose topics in French or English. As AFPy promotes
        the Python language to the French-speaking community, we are
        keen to keep the majority of the program in French (~75/80%).
      </p>
      <p>
        Following feedback from the previous edition, you can indicate
        the level of the target audience for your proposals, as well as
        the language in which you will be presenting. This will enable
        us to include the information in the program and avoid any
        disappointments :).
      </p>

      <p>
        As we do every year, we're offering financial assistance to help
        students and people who can't afford to come to PyConFR.
      </p>
      <p>
        You can apply by e-mail to our treasurer
        (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>). Please see the <a href="{{ url_for('page', name='financial', lang=lang) }}">Financial Assistance</a>
        page for details of how to apply.
      </p>
      <p>
        <strong>Applications are open until September 30, 2025</strong>.
      </p>

      <p>
        ⚠️ After these dates, we will no longer accept subject
        proposals or financial assistance applications.
      </p>
    </section>

    <section>
      <h3>PyConFR 2025</h3>

      <p>
        The 2025 edition of the francophone community's conference on Python will
        be held in Lyon from October 30<sup>th</sup> to November
        2<sup>nd</sup> 2025.
      </p>

      <p>
        The first two days are reserved for participative coding sessions. Developers
        from different open source projects come to code together. Everyone is welcome
        to contribute, and we seek to guide beginners. We provide the space and
        environment (tables, chairs, internet connection... and coffee!). Represented
        projects will be announced on our site as they register.
      </p>

      <p>
        During the two following days, you will have the opportunity to attend
        presentations on various topics, about the Python programming language, its use
        cases, good practice, feedback, shared ideas…
      </p>

      <p>
        This event is hosted by the Campus René Cassin. Thanks to them :).
      </p>

      <p>
        We ask everyone wishing to come to read the
        <a href="{{ url_for('page', name='conduct', lang=lang) }}">code of conduct</a>.
        We want this conference to be a welcoming event for
        everyone. AFPy working group is mobilized to make everyone feel good
        during the conference. Actions will be announced.
      </p>

      <p>
        If you already want to organize your journey, we have prepared the
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venue</a> page.
      </p>

      <p>
        We have several other announcements for you in the coming weeks, so
        follow us on <a href="https://mamot.fr/@AFPy">Mastodon</a>.
      </p>

      <p>
        Come and chat with us on our <a href="https://www.afpy.org/discord">Discord</a> or our <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
