{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Schedule</h2>

    <section class="event-description">
      <section>
        <aside class="subtitle">October 30<sup>th</sup> &amp; 31<sup>st</sup></aside>
        <h3>Participative Coding: Sprints!</h3>
        <p>
          Developers of various open source projects gather in little groups to
          code together. Everyone is welcome to contribute, and we seek to guide
          beginners.
        </p>
        <p class="important">
          Take part in the development of your favorite project!
        </p>
        <p>
          We provide the space and environment (tables, chairs,
          internet connection… and coffee!).
        </p>
        {#
        <ul class="buttons">
          <li>
            <a href="https://cfp.pycon.fr/pyconfr-2025/cfp">Submit a proposal</a>
          </li>
        </ul>
        #}
        <ul class="buttons">
          <li>
            <a href="{{ url_for('talks', lang=lang, category='sprint') }}">See Sprints List</a>
          </li>
        </ul>
      </section>

      <section>
        <aside class="subtitle">November 1<sup>st</sup> &amp; 2<sup>nd</sup></aside>
        <h3>Conferences and Workshops</h3>
        <p>
          During these two days, you will have the opportunity to attend
          presentations on various subjects about the Python programming
          language:
        </p>
        <ul>
          <li>use cases</li>
          <li>good practice</li>
          <li>feedback</li>
          <li>shared ideas</li>
        </ul>
        {#
        <ul class="buttons">
          <li>
            <a href="https://cfp.pycon.fr/pyconfr-2025/cfp">Submit a proposal</a>
          </li>
        </ul>
        #}
        <ul class="buttons">
          <li>
            <a href="#calendar">See Schedule</a>
          </li>
        </ul>
      </section>
    </section>

    <section id="keynotes" class="keynotes">
      <h3>Keynotes</h3>

      <dl>
        <dt>Ivana Kellyer</dt>
        <dd><img src="{{ url_for('static', filename='images/keynotes/ivana_kellyer.jpg') }}" alt="Picture of Ivana Kellyer"></dd>
        <dd>Senior software engineer at Sentry</dd>
        <dd>Embracing Weird Code</dd>
      </dl>

      <dl>
        <dt>Karen Jex</dt>
        <dd><img src="{{ url_for('static', filename='images/keynotes/karen_jex.jpg') }}" alt="Picture of Karen Jex"></dd>
        <dd>Solutions Architect at Snowflake</dd>
        <dd>Le rêve de tout enfant - devenir DBA ?</dd>
      </dl>
      <dl>
        <dt>Morgane Rozenn Hauguel</dt>
        <dd><img src="{{ url_for('static', filename='images/keynotes/morgane_rozenn_hauguel.jpg') }}" alt="Picture of Morgane Rozenn Hauguel"></dd>
        <dd>Direction de projets numériques</dd>
        <dd>Être un.e allié.e du numérique pour toustes en environnement hostile</dd>
      </dl>
    </section>

    <section id="calendar">
      <h3>Calendar</h3>
      <p>
        The calendar is available below,
        in a <a href="{{ url_for('schedule', lang=lang) }}">fullscreen page</a>,
        in <a href="{{ url_for('pdf_schedule', lang=lang) }}">PDF format</a>,
        or in your <a href="{{ url_for('calendar', lang=lang) }}">favourite calendar application</a>.
      </p>
      <p>
        You can read the description of
        <a href="{{ url_for('talks', lang=lang, category='plenary') }}">plenary sessions</a>,
        <a href="{{ url_for('talks', lang=lang, category='long-talk') }}">long talks</a>,
        <a href="{{ url_for('talks', lang=lang, category='short-talk') }}">short talks</a>,
        <a href="{{ url_for('talks', lang=lang, category='workshop')}}">workshops</a> and
        <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>.
      </p>
      <p>
        You can also read the biography of
        <a href="{{ url_for('page', name='speakers', lang=lang) }}">speakers</a>.
      </p>

      <iframe src="{{ url_for('schedule', lang=lang) }}" loading="lazy"></iframe>
    </section>

    <section id="register">
      <h3>Registration</h3>
      <p>
        PyConFR's sprints, talks and workshops are free.
      </p>
      <p>
        However, <strong>registration is mandatory for everyone</strong>,
        including organization staff, volunteers, speakers and sponsors.
      </p>
      <p>
        Registration is open until the end of the event, limited to:
      </p>
      <ul>
        <li>200 places for sprints,</li>
        <li>1 000 places for talks and workshops,</li>
        <li>150 places for <a href="#dinner">the Saturday night dinner</a>.</li>
      </ul>
      <ul class="buttons">
        <li>
          <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">PyConFR Registration</a>
        </li>
      </ul>
      <p>
        With this registration, it is possible to:
      </p>
      <ul>
        <li>reserve t-shirts (€15), also sold during the event with limited stocks,</li>
        <li>reserve a place for <a href="#dinner">the Saturday night dinner</a> (€30),</li>
        <li>reserve a place for <a href="#tour">the guided tours</a> of Thursday and Friday evenings,</li>
        <li>register children to <a href="#children-area">the Chidren Area</a> on Saturday and Sunday.</li>
      </ul>
      <p>
        ⚠️ Ordering t-shirts and booking the Saturday evening party
        will incur a fee for AFPy. <strong>No refunds will be possible after
        the event.</strong>
      </p>
      <p>
        You can also support <a href="https://afpy.org/">AFPy</a>, the
        association organizing PyConFR, with
        a <a href="https://www.helloasso.com/associations/afpy/formulaires/1/en">donation</a>.
        If you want to vote during the general assembly on Sunday morning, you
        must <a href="https://www.afpy.org/adherer">become a member</a>.
      </p>
    </section>

    <section id="pyladies-lunch">
      <h3>PyLadies Lunch</h3>

      <p>
        A <a href="{{ url_for('talks', lang=lang, category='lunch', _anchor='talk-SLPLFX') }}">Pyladies lunch</a> is organised on <strong>Saturday noon</strong>.
      </p>
      <p>
        This lunch is reserved for women (<a href="https://fr.wikipedia.org/wiki/Cisgenre">cis</a> and <a href="https://fr.wikipedia.org/wiki/Transgenre">trans</a>),
        <a href="https://fr.wikipedia.org/wiki/Transgenre">trans</a> men,
        <a href="https://fr.wikipedia.org/wiki/Non-binaire">non-binary</a>
        and <a href="https://fr.wikipedia.org/wiki/Non-binarit%C3%A9#Identit%C3%A9s_de_genre">agender</a> people who do Python.
      </p>
      <p>
        Access to lunch is by registration only:
      </p>
      <ul class="buttons">
        <li>
          <a href="https://www.helloasso.com/associations/afpy/evenements/dejeuner-pyladies-a-la-pyconfr-2025">PyLadies Lanch Registration</a>
        </li>
      </ul>
    </section>

    <section id="children-workshop">
      <h3>Programming Workshop for Children</h3>

      <p>
        A <a href="{{ url_for('talks', lang=lang, category='workshop', _anchor='talk-RJ8GMB') }}">programming workshop for children</a> is organised on <strong>Saturday afternoon</strong> from 2PM to 5PM, in partnership with <a href="https://mixteen.org/">MixTeen</a>.
      </p>
      <p>
        The workshop can accommodate a <strong>maximum of 16 children</strong>, from 7 to 17 years old.
      </p>
      <p>
        Access to this workshop is by registration only:
      </p>
      <ul class="buttons">
        <li>
          <a href="https://www.helloasso.com/associations/afpy/evenements/atelier-de-programmation-pour-les-enfants-1">Chidren Workshop Registration</a>
        </li>
      </ul>      
    </section>

    <section id="children-area">
      <h3>Children's Area</h3>

      <p>
        A children's area is available free of charge on <strong>Saturday and Sunday</strong> during PyConFR and is run by <a href="https://aujoyeuxbazar.com/">Au Joyeux Bazar de Claire</a>.
      </p>
      <p>
        The children's area can accommodate <strong>up to 10 children aged 3 to 12 years old</strong>.
      </p>
      <p>
        Various activities are available for children, including reading, building games, board games, drawing…
      </p>
      <p>
        Registration is on a <strong>half-day basis</strong> and can be done on <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">the event registration page</a>:
      </p>
      <ul>
        <li>Saturday: 8:45 AM to 12:30 PM and 2 PM to 6 PM</li>
        <li>Sunday: 8:45 AM to 12:30 PM and 2 PM to 5 PM</li>
      </ul>
      <p>
        ⚠️ <strong>Meals are the responsibility of parents.</strong>
      </p>
    </section>

    <section id="tour">
      <h3>Guided Tours</h3>

      <p>
        Guided tours are organised with <a href="https://www.reperes-lyon.fr/">Repère(s)</a> on Thursday evening and Friday evening.
      </p>
      <ul>
        <li>Thursday evening: tour in Lyon old city, end of the tour at 7PM</li>
        <li>Friday evening: tour "Renaissance investigation", end of the tour at 7:30PM.</li>
      </ul>
      <p>
        <strong>Group for the guided tours leaves from the Campus René Cassin at 5:15PM, with <a href="{{ url_for('page', name='speakers', lang=lang, _anchor='speaker-PXTG9M') }}">Arthur</a>.</strong>
      </p>
      <p>
        If the minimal number of people isn’t reached, you’ll be reimbursed during the event.
      </p>
    </section>

    <section id="dinner">
      <h3>Saturday Night Dinner</h3>
      <p>
        A dinner is organized on Saturday night, from 7:30 PM to 11:00 PM.
        The place is located at La Cordée Valmy, 6 place Dumas de Loire, 69009 Lyon.
      </p>
      <p>
        The dinner is accesible only for the ones who chose the option during their registration.
      </p>
      <p>
        For the dinner, we’re using a caterer:
      </p>
      <ul>
        <li>Still and sparkling water</li>
        <li>Symples sparkling infusion</li>
        <li>Iced tea and homemade lemonade</li>
      </ul>
      <ul>
        <li>Mini bourguignon beef burger, citrus carrot ketchup</li>
        <li>Club sandwich with vegetable canut brains, roast squash with maple syrup (vegan)</li>
        <li>Corn polenta, forest mushroom cream and roast oyster mushrooms (vegan and gluten-free)</li>
        <li>Buckwheat blini, horseradish cream, Dombes trout gravelax (gluten-free)</li>
        <li>Cumin seed shortbread, parsnip hummus, black sesame (vegan and gluten-free)</li>
        <li>Organic egg marinated in beetroot, bergamot mayonnaise, Timut pepper (vegetarian and gluten-free)</li>
        <li>Squash cupcake, squash cream with curry, mustard pickles (vegetarian)</li>
        <li>Quenelle lyonnaise, Fourme d'Ambert cream, figs (vegetarian)</li>
      </ul>
      <ul>
        <li>Chocolate brownies, coffee whipped cream (vegetarian and gluten-free)</li>
        <li>Cinnamon moelleux with spiced roasted apples (vegan)</li>
        <li>Pumpkin pie: sweet spice shortbread, butternut squash flan, vanilla whipped cream (vegetarian and gluten-free)</li>
      </ul>
      <p>
        Other alcoholic drinks can be bought (not included in the price) during the
        dinner.
      </p>
      <p>
        During the evening, a live-coding performance, by <a href="https://ralt144mi.remigeorges.fr/">Ralt144MI</a>, takes place.
      </p>
    </section>
  </article>
{% endblock content %}
