{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Actualités</h2>

    <section>
      <h3>Informations pratiques</h3>

      <h4>Les jours de sprints (jeudi et vendredi)</h4>
      <p>
        Nous vous accueillerons <strong>à partir de 9h30 les matins</strong>, du thé et du café seront disponibles. Un contrôle visuel des sacs / bagages pourra être effectué par les agents de sécurité.
      </p>
      <p>
        <strong>À 10h</strong>, nous nous retrouvons en <strong>salle B003</strong> pour une présentation des différents sprints.
      </p>
      <p>
        Pour les midis, il y a différents restaurants, boulangeries et magasins autour du campus. Vous pouvez prendre à emporter et manger dans l’espace cafétéria du bâtiment au rez-de-jardin.
      </p>

      <h4>Les jeudi et vendredi soirs</h4>
      <p>
        Des tables sont réservées à <strong><a href="https://www.reperes-lyon.fr/">Repère(s)</a> (2 rue Camille Jordan, 69001 Lyon) à partir de 18h</strong>, n’hésitez pas à venir y faire un tour durant la soirée pour discuter avec des gens de la conférence, manger un bout ou boire un verre.
      </p>
      <p>
        Si vous avez pris une option pour <strong>les visites guidées de Lyon, le départ se fait à 17h15 du Campus</strong>, accompagné par <a href="{{ url_for('page', name='speakers', lang=lang, _anchor='speaker-PXTG9M') }}">Arthur</a>.
      </p>

      <h4>Les jours de conférences (samedi et dimanche)</h4>
      <p>
        Nous vous accueillerons <strong>à partir de 8h20 les matins</strong> avec un petit-déjeuner de <a href="https://fenotte.coop/">Fenotte</a>. Un contrôle visuel des sacs / bagages pourra être effectué par les agents de sécurité.
      </p>
      <p>
        Pour les midis, le foodtruck E’ben sera sur place au niveau du rez-de-jardin. Le foodtruck sert pizzas, panuozzos, panuozettas, lasagnes et salades : vous pouvez consulter le menu complet <a href="https://ebenpizza.odoo.com/">ici</a>.<br/>
        Il vous est possible de précommander votre repas (jusqu'à 11h le jour même) pour gagner du temps en appelant ou envoyant un message au <a href="tel:0642100063">06 42 10 00 63</a> précisant votre commande, votre prénom et l'horaire souhaité ; ou en vous rendant directement auprès du foodtruck.
      </p>

      <h4>Le goûter d’anniversaire de l’AFPy</h4>
      <p>
        Cette année l’AFPy fête ses 20 ans. La traditionnelle pause goûter du samedi après-midi sera un goûter d’anniversaire, avec des gâteaux de Mima Pâtisse.
      </p>

      <h4>Le samedi soir</h4>
      <p>
        Pour les personnes ayant pris l’option pour la soirée du samedi soir, on vous donne <strong>rendez-vous à 19h30 à La Cordée Valmy</strong> (6 place Dumas de Loire, 69009 Lyon).
      </p>

      <h4>Pour tout l’évènement</h4>
      <p>
        Dans une démarche écologique, <strong>nous ne fournirons pas de bouteilles d’eau ou d’écocups</strong>. Nous vous recommandons donc de venir avec une gourde. Aussi, si vous êtes déjà venu·e à une précédente PyConFR et avez toujours votre tour de cou, nous vous invitons à le réutiliser.
      </p>
      <p>
        Le <a href="https://www.afpy.org/discord">Discord</a> de l’AFPy est le moyen de communication privilégié si vous avez des questions ou autre pendant la conférence. Nous vous recommandons d’écrire dans le chan général car il est relié au canal IRC.
      </p>
      <p>
        <strong>Durant toute la PyConFR (soirées comprises), la charte de l’AFPy s’applique.</strong> Une équipe dédiée est disponible pour gérer les éventuels problèmes. Si vous êtes témoin ou victime, n’hésitez pas à vous rapprocher des membres de l’équipe ou d’une personne de l’organisation. <strong>L’équipe est également joignable par mail (diversite@afpy.org) et par téléphone (+33 7 80 91 39 64).</strong>
      </p>

      <h4>Appel à volontaires</h4>
      <p>
        Nous sommes toujours à la recherche de volontaires pour aider durant l’évènement, que ce soit pour accueillir les gens, coordonner les sessions, aider à installer/ranger…
      </p>
      <p>
        Si vous êtes intéressé·es, n’hésitez pas à vous faire connaître sur <a href="https://discuss.afpy.org/t/appel-a-volontaires-pyconfr-2025/2783">ce sujet Discourse</a>.
      </p>
    </section>

    <section>
      <h3>Le planning est publié</h3>

      <p>
        Le planning de la PyConFR 2025 est <a href="{{ url_for('page', name='schedule', lang=lang) }}">disponible</a> !
      </p>
      <p>
        Les deux premiers jours de la conférence seront occupés par les sprints. Et les deux jours suivants seront dédiés aux conférences (longues et courtes) et ateliers.
      </p>
      <p>
        Comme toujours, la PyConFR est un évènement gratuit et l’<a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">inscription est obligatoire</a>.
      </p>
      <p>
        Lors de votre inscription, vous pouvez également :
      </p>
      <ul>
        <li>inscrire vos enfants à l’<a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">espace enfants</a> du samedi et dimanche,</li>
        <li>réserver un t-shirt,</li>
        <li>vous inscrire pour la <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">soirée du samedi soir</a>,</li>
        <li>vous inscrire pour une <a href="{{ url_for('page', name='schedule', lang=lang) }}#tour">visite guidée</a> de Lyon le jeudi soir ou le vendredi soir.</li>
      </ul>
      <p>
        Durant cette édition, un <a href="{{ url_for('talks', lang=lang, category='workshop', _anchor='talk-RJ8GMB') }}">atelier de programmation pour les enfants</a> a lieu le samedi après-midi. <strong>Le nombre de places étant limités, n’oubliez pas d’y <a href="https://www.helloasso.com/associations/afpy/evenements/atelier-de-programmation-pour-les-enfants-1">inscrire vos enfants</a> !</strong>
      </p>
      <p>
        Pour cette édition, nous retrouvons également le <a href="{{ url_for('talks', lang=lang, category='lunch', _anchor='talk-SLPLFX') }}">déjeuner PyLadies</a>. Ce déjeuner, gratuit et <a href="https://www.helloasso.com/associations/afpy/evenements/dejeuner-pyladies-a-la-pyconfr-2025">sur inscription</a>, est destiné à rassembler les femmes (cis et trans), les hommes trans, les personnes non-binaires ou les agenré⋅es qui font du Python, et a pour but de les aider à devenir des membres actifs et des moteurs de la communauté. Un des objectifs est également de tisser des liens entre la communauté PyLadies et le reste de la communauté Python francophone.
      </p>
      <p>
        Le dimanche matin, l'AFPy tiendra son assemblée générale. Si vous souhaitez y voter, assurez vous d'être <a href="https://www.afpy.org/adherer">à jour de cotisation</a>.
      </p>
    </section>

    <section>
      <h3>Les inscriptions sont ouvertes</h3>

      <p>
        Les inscriptions pour la PyConFR 2025 sont <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">ouvertes</a> !
      </p>
      <p>
        Même si l’évènement est gratuit, l’inscription est obligatoire.
      </p>
      <p>
        Un <a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">espace pour les enfants</a> de 3 ans à 12 ans est mis gratuitement
        à disposition le samedi et dimanche, sur inscription.
      </p>
      <p>
        Lors de votre inscription, vous pouvez également réserver un t-shirt et vous inscrire à <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">la soirée du samedi</a>.
      </p>
      <p>
        Aussi, l’assemblée générale de l’association a lieu le dimanche matin.
        N’oubliez pas d’être à jour de <a href="https://www.helloasso.com/associations/afpy/adhesions/adhesion-2025-a-l-afpy">cotisation</a> si vous souhaitez participer aux votes.
      </p>
      <p>
        Le planning sera disponible courant septembre !
      </p>
    </section>

    <section>
      <h3>Ouverture du CFP et des demandes de bourses</h3>
      <p>
        Le <a href="https://cfp.pycon.fr/pyconfr-2025/cfp">CFP (Call For Proposal)</a> de la PyConFR 2025 est ouvert !
      </p>
      <p>
        Le CFP vous permet de proposer vos sujets pour les sprints,
        les conférences et les ateliers.
      </p>
      <p>
        <strong>Vous pouvez soumettre vos propositions jusqu’au 20 juillet 2025</strong>.
        À l’issue de la période d’ouverture, les membres du Comité
        Directeur de l’AFPy examineront toutes les propositions et le
        planning pourra être fait !
      </p>
      <p>
        Vous pouvez proposer des sujets en français ou en anglais.
        L’AFPy promouvant le langage Python auprès du communauté
        francophone, nous tenons à garder une majorité du programme en
        français (~75/80%).
      </p>

      <p>
        Comme chaque année, nous proposons des bourses pour aider les
        étudiant·es et les personnes n’ayant pas les moyens de venir à
        la PyConFR.
      </p>
      <p>
        Vous pouvez en faire la demande par mail auprès de notre
        trésorier (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>). N’hésitez
        pas à consulter la page <a href="{{ url_for('page', name='financial', lang=lang) }}">Bourses</a> pour
        connaître les informations à fournir et les modalités.
      </p>
      <p>
        <strong>Les demandes de bourses sont ouvertes jusqu’au 30 septembre 2025</strong>.
      </p>

      <p>
        ⚠️ Passé les dates indiquées, nous n’accepterons plus les
        propositions de sujets et les demandes de bourses.
      </p>
    </section>

    <section>
      <h3>PyConFR 2025</h3>
      <p>
        L'édition 2025 de la conférence sur Python de la communauté francophone se
        tiendra à Lyon du 30 octobre au 2 novembre 2025.
      </p>

      <p>
        Les deux premiers jours sont réservés à des séances de développement
        participatif. Les développeurs et développeuses de différents projets
        <em>open source</em> se rejoignent pour coder ensemble. Chaque personne
        est la bienvenue pour contribuer, et nous cherchons également à
        accompagner les débutant·e·s. Nous fournissons l'espace et le matériel
        nécessaire à l'organisation (tables, chaises, connexion internet…). Les
        projets présents seront annoncés sur notre site au fur et à mesure de
        leur inscription.
      </p>

      <p>
        Les deux derniers jours sont consacrés à des conférences. Vous aurez
        l'occasion de participer à des présentations sur des sujets variés,
        autour du langage Python, de ses usages, des bonnes pratiques, des
        retours d'expériences, des partages d'idées… Un appel à présentation sera
        également lancé d'ici quelque temps.
      </p>

      <p>
        Cet événement est hébergé par le Campus René Cassin. Merci pour leur
        chaleureux accueil :).
      </p>

      <p>
        Nous demandons à chaque personne souhaitant venir de lire le
        <a href="{{url_for('page', name='conduct', lang=lang) }}">code de conduite</a>.
        Nous souhaitons faire en sorte que cette conférence soit un
        événement accueillant pour tout le monde. Le groupe de travail de l'AFPy
        se mobilise pour faire que chacun·e se sente bien durant la
        conférence. Nous vous annoncerons les actions.
      </p>

      <p>
        Si vous souhaitez déjà organiser votre venue, nous vous avons préparé la page
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venir</a>.
      </p>

      <p>
        Nous vous réservons plusieurs autres annonces pour les semaines à venir, alors
        suivez-nous sur <a href="https://mamot.fr/@AFPy">Mastodon</a>.
      </p>

      <p>
        Venez discuter avec nous sur notre <a href="https://www.afpy.org/discord">Discord</a> ou notre <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
