{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Actualités</h2>

    <section>
      <h3>Le planning est publié</h3>

      <p>
        Le planning de la PyConFR 2025 est <a href="{{ url_for('page', name='schedule', lang=lang) }}">disponible</a> !
      </p>
      <p>
        Les deux premiers jours de la conférence seront occupés par les sprints. Et les deux jours suivants seront dédiés aux conférences (longues et courtes) et ateliers.
      </p>
      <p>
        Comme toujours, la PyConFR est un évènement gratuit et l’<a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">inscription est obligatoire</a>.
      </p>
      <p>
        Lors de votre inscription, vous pouvez également :
      </p>
      <ul>
        <li>inscrire vos enfants à l’<a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">espace enfants</a> du samedi et dimanche,</li>
        <li>réserver un t-shirt,</li>
        <li>vous inscrire pour la <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">soirée du samedi soir</a>,</li>
        <li>vous inscrire pour une <a href="{{ url_for('page', name='schedule', lang=lang) }}#tour">visite guidée</a> de Lyon le jeudi soir ou le vendredi soir.</li>
      </ul>
      <p>
        Durant cette édition, un <a href="{{ url_for('talks', lang=lang, category='workshop', _anchor='talk-RJ8GMB') }}">atelier de programmation pour les enfants</a> a lieu le samedi après-midi. <strong>Le nombre de places étant limités, n’oubliez pas d’y <a href="https://www.helloasso.com/associations/afpy/evenements/atelier-de-programmation-pour-les-enfants-1">inscrire vos enfants</a> !</strong>
      </p>
      <p>
        Pour cette édition, nous retrouvons également le <a href="{{ url_for('talks', lang=lang, category='lunch', _anchor='talk-SLPLFX') }}">déjeuner PyLadies</a>. Ce déjeuner, gratuit et <a href="https://www.helloasso.com/associations/afpy/evenements/dejeuner-pyladies-a-la-pyconfr-2025">sur inscription</a>, est destiné à rassembler les femmes (cis et trans), les hommes trans, les personnes non-binaires ou les agenré⋅es qui font du Python, et a pour but de les aider à devenir des membres actifs et des moteurs de la communauté. Un des objectifs est également de tisser des liens entre la communauté PyLadies et le reste de la communauté Python francophone.
      </p>
      <p>
        Le dimanche matin, l'AFPy tiendra son assemblée générale. Si vous souhaitez y voter, assurez vous d'être <a href="https://www.afpy.org/adherer">à jour de cotisation</a>.
      </p>
    </section>

    <section>
      <h3>Les inscriptions sont ouvertes</h3>

      <p>
        Les inscriptions pour la PyConFR 2025 sont <a href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2025">ouvertes</a> !
      </p>
      <p>
        Même si l’évènement est gratuit, l’inscription est obligatoire.
      </p>
      <p>
        Un <a href="{{ url_for('page', name='schedule', lang=lang) }}#children-area">espace pour les enfants</a> de 3 ans à 12 ans est mis gratuitement
        à disposition le samedi et dimanche, sur inscription.
      </p>
      <p>
        Lors de votre inscription, vous pouvez également réserver un t-shirt et vous inscrire à <a href="{{ url_for('page', name='schedule', lang=lang) }}#dinner">la soirée du samedi</a>.
      </p>
      <p>
        Aussi, l’assemblée générale de l’association a lieu le dimanche matin.
        N’oubliez pas d’être à jour de <a href="https://www.helloasso.com/associations/afpy/adhesions/adhesion-2025-a-l-afpy">cotisation</a> si vous souhaitez participer aux votes.
      </p>
      <p>
        Le planning sera disponible courant septembre !
      </p>
    </section>

    <section>
      <h3>Ouverture du CFP et des demandes de bourses</h3>
      <p>
        Le <a href="https://cfp.pycon.fr/pyconfr-2025/cfp">CFP (Call For Proposal)</a> de la PyConFR 2025 est ouvert !
      </p>
      <p>
        Le CFP vous permet de proposer vos sujets pour les sprints,
        les conférences et les ateliers.
      </p>
      <p>
        <strong>Vous pouvez soumettre vos propositions jusqu’au 20 juillet 2025</strong>.
        À l’issue de la période d’ouverture, les membres du Comité
        Directeur de l’AFPy examineront toutes les propositions et le
        planning pourra être fait !
      </p>
      <p>
        Vous pouvez proposer des sujets en français ou en anglais.
        L’AFPy promouvant le langage Python auprès du communauté
        francophone, nous tenons à garder une majorité du programme en
        français (~75/80%).
      </p>

      <p>
        Comme chaque année, nous proposons des bourses pour aider les
        étudiant·es et les personnes n’ayant pas les moyens de venir à
        la PyConFR.
      </p>
      <p>
        Vous pouvez en faire la demande par mail auprès de notre
        trésorier (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>). N’hésitez
        pas à consulter la page <a href="{{ url_for('page', name='financial', lang=lang) }}">Bourses</a> pour
        connaître les informations à fournir et les modalités.
      </p>
      <p>
        <strong>Les demandes de bourses sont ouvertes jusqu’au 30 septembre 2025</strong>.
      </p>

      <p>
        ⚠️ Passé les dates indiquées, nous n’accepterons plus les
        propositions de sujets et les demandes de bourses.
      </p>
    </section>

    <section>
      <h3>PyConFR 2025</h3>
      <p>
        L'édition 2025 de la conférence sur Python de la communauté francophone se
        tiendra à Lyon du 30 octobre au 2 novembre 2025.
      </p>

      <p>
        Les deux premiers jours sont réservés à des séances de développement
        participatif. Les développeurs et développeuses de différents projets
        <em>open source</em> se rejoignent pour coder ensemble. Chaque personne
        est la bienvenue pour contribuer, et nous cherchons également à
        accompagner les débutant·e·s. Nous fournissons l'espace et le matériel
        nécessaire à l'organisation (tables, chaises, connexion internet…). Les
        projets présents seront annoncés sur notre site au fur et à mesure de
        leur inscription.
      </p>

      <p>
        Les deux derniers jours sont consacrés à des conférences. Vous aurez
        l'occasion de participer à des présentations sur des sujets variés,
        autour du langage Python, de ses usages, des bonnes pratiques, des
        retours d'expériences, des partages d'idées… Un appel à présentation sera
        également lancé d'ici quelque temps.
      </p>

      <p>
        Cet événement est hébergé par le Campus René Cassin. Merci pour leur
        chaleureux accueil :).
      </p>

      <p>
        Nous demandons à chaque personne souhaitant venir de lire le
        <a href="{{url_for('page', name='conduct', lang=lang) }}">code de conduite</a>.
        Nous souhaitons faire en sorte que cette conférence soit un
        événement accueillant pour tout le monde. Le groupe de travail de l'AFPy
        se mobilise pour faire que chacun·e se sente bien durant la
        conférence. Nous vous annoncerons les actions.
      </p>

      <p>
        Si vous souhaitez déjà organiser votre venue, nous vous avons préparé la page
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venir</a>.
      </p>

      <p>
        Nous vous réservons plusieurs autres annonces pour les semaines à venir, alors
        suivez-nous sur <a href="https://mamot.fr/@AFPy">Mastodon</a>.
      </p>

      <p>
        Venez discuter avec nous sur notre <a href="https://www.afpy.org/discord">Discord</a> ou notre <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
