{% macro brochures(lang) %}
  <ul class="buttons">
    {% if lang == 'fr' %}
      <li><a href="{{ url_for('static', filename='brochures/brochure_fr.pdf') }}">Brochure de sponsoring</a></li>
    {% elif lang == 'en' %}
      <li><a href="{{ url_for('static', filename='brochures/brochure_en.pdf') }}">Sponsoring brochure</a></li>
    {% endif %}
  </ul>
{% endmacro %}

{% macro description(company, lang) %}
  <div class="description">
    {% if lang == 'fr' %}
      {% if company == 'Campus René Cassin' %}
        <p>
          Acteur éducatif incontournable de la région Auvergne-Rhône-Alpes,
          le Campus René Cassin est le lieu fédérant depuis 20 ans la plus
          grande diversité d’écoles et de centres de formation de la région
          avec 13 filières de compétences métiers au service d’un lien formation-emploi réussi.
        </p>
        <p>
          Depuis sa création, ce lieu unique reste fidèle à sa promesse
          d’accompagner ses étudiants à entreprendre leur futur avec confiance
          et enthousiasme et de répondre aux besoins de recrutement des
          entreprises pour soutenir leur développement.
        </p>
      {% elif company == 'IPI' %}
        <p>
          L’IPI, école d’informatique du Groupe IGENSIA Education, accompagne
          chaque année plus de 1000 apprenants dans leur développement
          professionnel à travers des diplômes reconnus par l’État et des
          programmes adaptés à leurs besoins.
        </p>
        <p>
          L’IPI vise à former des informaticiens experts, responsables
          et adaptables pour répondre aux nécessités d’un monde en constante mutation.
        </p>
        <p>
          Notre ambition est de donner à tous nos apprenants les codes de
          réussite incontournables permettant de réussir dans un secteur
          exigeant qui demande expertise et compréhension des enjeux économiques,
          financiers et stratégiques de l’entreprise, ainsi qu’un sens aigu de la relation client.
        </p>
      {% elif company == 'EPSI' %}
        <p>
          L’EPSI est l’école de l’ingénierie informatique créée en 1961
          par des professionnels du secteur pour répondre en temps réel
          aux besoins en compétences des entreprises et des territoires.
          Aujourd’hui l’école forme des experts dans les domaines de l’IA,
          de la cybersécurité, du cloud, de la data, du développement et de
          l’infrastructure système.
        </p>
        <p>
          Nous sommes une école post-bac sans prépa qui ouvre le champ de tous
          les possibles aux passionnés de coding et d’innovation. Accessible à
          tous les profils, avec un niveau d’exigence et d’accompagnement maximum.
          Nos formations sont accessibles par l’apprentissage et la VAE.
        </p>
     {% elif company == 'Entr\'ouvert' %}
        <p>
          Entr'ouvert est une société coopérative attachée à la démocratie
          d'entreprise.  Les salariés possèdent l'entreprise à parts égales, les
          décisions sont prises selon le principe « une personne = une
          voix ». Nous privilégions un fonctionnement organique, proche de celui
          qu'on retrouve dans les communautés du Logiciel Libre. Il s'agit d'un
          mode d'organisation confortable pour nous mais surtout efficace pour
          produire du logiciel libre.
        </p>
        <p>
          Entr'ouvert a une forte connaissance du Logiciel Libre, de ses
          communautés, ses principes, ses habitudes. Préserver et promouvoir
          l'écosystème du Logiciel Libre fait partie des objectifs de la
          structure.
        </p>
        <p>
          Entr'ouvert est éditeur d'une solution libre (GNU GPL) de Gestion de la
          Relation Usager, nommée Publik. Elle est utilisée par de très
          nombreuses villes et agglomérations, en France et en Belgique. Cette
          solution est développée en Python, sur le cadriciel Django ; outils
          quasi exclusifs dès qu'il faut développer quelque chose à Entr'ouvert.
        </p>
     {% elif company == 'Elastic' %}
        <p>
          Plus de 50 % des sociétés du Fortune 500 utilisent Elastic pour prendre des décisions plus intelligentes et innover plus rapidement grâce à la puissance de Search AI.<br/> Elastic — The Search AI Company, combine son expertise en matière de technologie de recherche et d'intelligence artificielle pour aider chaque utilisateur à transformer les données non structurées et sous-exploitées, dont la croissance est exponentielle, en réponses, actions et résultats.<br/> La Search AI Platform d'Elastic est à la base des deux solutions prêtes à l'emploi d'Elastic, Elastic Observability et Elastic Security,
        et constitue la plateforme de choix pour les développeurs qui souhaitent créer des applications et des services d'IA nouvelle génération.</p>
     {% elif company == 'Yaal Coop' %}
        <p>Yaal Coop est une société coopérative d'intérêt collectif (SCIC)
          spécialisée dans le conseil, le développement et l'hébergement de
          services informatiques. La coopérative est située à Bordeaux et est
          composée de 5 personnes associées salariées, et 2 personnes salariées.
          Python est le langage de prédilection utilisé pour le développement de
          service web, scripts, logiciels libres et la plupart des projets de la
          coopérative.<br/>
          Yaal Coop prend soin de contribuer aux brique logicielles libres
          qu'elle emploie, par la correction de bugs, l'implémentation de
          fonctionnalités, ou la co-maintenance de certains projets.</p>
      {% elif company == 'Kraken' %}
        <p>Fondée en 2017, Kraken Technologies développe un système d'exploitation révolutionnaire pour le secteur de l'énergie. Notre mission est de transformer la gestion des ressources énergétiques en optimisant la production d'énergie renouvelable et en améliorant l'efficacité des réseaux décentralisés. En 2020, nous avons étendu notre présence à l'international. Aujourd'hui, notre technologie est utilisée dans 17 pays, gérant plus de 54 millions de comptes clients et supervisant 42 GW d'énergie souscrite. En 2021, nous avons renforcé notre présence en Europe grâce à des collaborations stratégiques avec plusieurs grands fournisseurs d'énergie.</p>

        <p>Notre plateforme flexible et adaptable permet aux entreprises de réduire leurs coûts tout en offrant une expérience client de haute qualité. Il vise à accompagner les acteurs du marché dans leur transition vers des modèles énergétiques plus durables et décarbonés. Chez Kraken, nous jouons un rôle clé dans la transformation du secteur énergétique mondial en fournissant des outils robustes et évolutifs adaptés aux défis actuels.</p>
      {% elif company == 'Kobalt' %}
        <p>
          Chez Kobalt, on fait du sur mesure, utile, solide et durable.
          On ne multiplie pas les projets, on choisit ceux qui comptent, et on les mène avec engagement.
        </p>
        <p>
          Comment on fait ?
        </p>
        <p>
          Grâce à trois piliers :
        </p>
        <ol>
          <li>Une équipe intransigeante sur la qualité et des clients qui nous font confiance</li>
          <li>Des outils open source à la pointe et une communauté vivante</li>
          <li>Des engagements environnementaux solides et l’éco-concetion au coeur de notre méthodo</li>
        </ol>
        <p>
          On propose quoi ?
        </p>
        <p>
          Un accompagnement sur-mesure pour votre projet.
          De la conception à la maintenance de la solution, en passant par son développement et son hébergement.
        </p>
      {% elif company == "EuroPython Society" %}
        <p>
          La Société EuroPython (EPS) est une organisation suédoise à
          but non lucratif qui organise les conférences EuroPython,
          soutient la communauté Python en Europe et détient les
          droits sur la série de conférences EuroPython et les marques
          déposées.
        </p>
        <p>
          L'EPS a été créée en 2004, avec pour mission de faire de
          l'EuroPython une série de conférences Python à succès pour
          les années à venir. En 2016, nous avons étendu notre mission
          à la promotion de l'utilisation du langage de programmation
          Python en Europe et à l'organisation d'événements centrés
          sur le langage de programmation Python pour y parvenir.
        </p>
        {% elif company == 'Scalingo' %}
        <p>
            Scalingo est une plateforme française en tant que service (PaaS) dédiée
            à l’hébergement cloud souverain. Elle permet aux entreprises et
            institutions de déployer, gérer et faire évoluer facilement leurs
            applications web et bases de données dans un environnement sécurisé et
            conforme aux réglementations européennes.
        </p>
        <p>
            Pensée pour les développeurs et DSI, Scalingo automatise la gestion de
            l’infrastructure (scalabilité, sécurité, supervision, sauvegardes, mises
                    à jour...), afin de se concentrer sur l’essentiel : le produit. Les
            déploiements se font en quelques clics ou via CI/CD, sans expertise
            DevOps requise.
        </p>
        <p>
            Les données sont hébergées exclusivement en France sur l’infrastructure
            souveraine de 3DS Outscale, qualifiée SecNumCloud 3.2. Scalingo est
            certifiée ISO 27001, HDS (Hébergement de Données de Santé) et engagée
            dans sa propre qualification SecNumCloud.
        </p>
        <p>
            Plus de 1000 clients nous font confiance : institutions publiques,
            collectivités, agences digitales, startups et grands comptes (ex. :
                Ministère de l’Intérieur, Engie, Yespark, Pix, Ingenico Group, Le
                Wagon).
        </p>
        <p>
          Scalingo est plus qu’un hébergeur : un partenaire de confiance pour un
          numérique simple, souverain et sécurisé.
        </p>
      {% elif company == 'itarverne' %}
        <p>
          Nous sommes spécialisés dans le développement web avec une forte expertise en python.
          Nous accompagnons les clients sur des POCs (réalisation rapide d'une idée en cas logiciel pour
          vérifier son bon fonctionnement) ou MVP (réalisation d'application pour vérifier la mise sur le marché de l'idée du client),
          de l'accompagnement technique pour aider les équipes de nos clients à être plus efficace,
          du mentoring technique afin de résoudre des problématiques techniques…
        </p>
        <p>
          Avec 18 ans d'expérience, nos compétences sont larges et nous permettent de répondre à une grande diversité de projets.
        </p>
      {% elif company == 'April' %}
        <p>
          APRIL est le créateur et le leader du courtage grossiste en assurance avec un réseau de plus de
          15 000 courtiers partenaires en France et 17 000 dans le monde. Le groupe est un acteur reconnu en
          France, en Europe, en Asie et en Amérique du Nord pour son savoir-faire en santé et prévoyance des
          particuliers, professionnels et TPE, en assurance des emprunteurs, en santé internationale, en dommages
          de niches et en gestion de patrimoine. En 2024, APRIL a enregistré en 2024 un chiffre d’affaires de 860M€.
        </p>
        <p>
          Au quotidien, les 3 000 collaborateurs d’APRIL dessinent le futur de l’assurance en proposant à ses clients
          et partenaires une expérience remarquable alliant le meilleur des relations humaines et de la technologie.
        </p>
        <p>
          Au sein du groupe, les équipes data suivent une roadmap ambitieuse en matière de performance opérationnelle,
          d’amélioration de l’expérience client, de soutien à la distribution intermédiée et directe, et contribue
          également aux expérimentations menées sur l’intelligence artificielle.
        </p>
        <p>
          L’ambition est pouvoir réaliser dans les deux prochaines années une vingtaine de cas d’usages, de plus en
          plus orientés sur des analyses prédictives et probabilistes, nécessitant une utilisation généralisée du langage Python.
        </p>
      {% elif company == 'Navicat' %}
      <p>
      <strong>Navicat est la solution tout-en-un qui simplifie et accélère la gestion de vos bases de données.</strong>Grâce à une interface intuitive et des fonctionnalités puissantes, vous administrez facilement MySQL, PostgreSQL, Oracle, SQL Server, MariaDB, SQLite, MongoDB, Redis, SQLite ou Snowflake depuis un seul outil. Sauvegardes, synchronisation, automatisation et visualisation deviennent rapides et fiables.
        </p>
      <p>
        Conçu pour les développeurs, DBA et analystes, Navicat optimise la productivité tout en garantissant sécurité et stabilité. Avec Navicat Cloud et On-Premise, vos équipes collaborent en toute fluidité, où qu’elles soient.
      </p>
      <p>
        Édité par <strong>PremiumSoft CyberTech Ltd</strong>, société pionnière basée à Singapour depuis plus de 20 ans, Navicat est adopté par des milliers d’entreprises dans le monde. <strong>Notre mission : transformer la complexité des bases de données en une expérience simple, performante et collaborative.</strong>
      </p>
      {% elif company == 'Alma' %}
      <p>Alma est une retailtech et fintech fondée en 2018. Nous proposons des solutions de paiement flexibles pour les boutiques physiques et en ligne,
        avec le paiement en 2, 3 ou 4 fois et en différé. Notre solution de paiement s’applique également aux particuliers avec l’app et la carte Alma.
        Nous priorisons l’expérience et la satisfaction de nos clients avec des outils simples et agréables à utiliser.
        Présents dans une dizaine de pays européens, nous travaillons avec plus de 7500 grandes marques comme Sncf,
        Maisons du Monde, Nature & Découvertes, Etam, Printemps, Afflelou, Emma, Perfectstay…</p>
      {% elif company == 'majerti' %}
      <p>
        Majerti est spécialisé dans le développement logiciel à l'aide du langage Python ainsi que dans l'administration de système Linux.
        Nous vous accompagnons :
      </p>
      <ul>
        <li>Pour apporter une expertise dans l'administration de vos infrastructures (Résilience, Virtualisation, Sécurisation)</li>
        <li>Pour accompagner vos équipes de développement (Formation, Accompagnement technique)</li>
        <li>Pour vous conseiller dans les choix stratégiques de votre système d'information (Architecture réseau, Architecture logicielle)</li>
      </ul>
      {% endif %}
    {% elif lang == 'en' %}
      {% if company == 'Campus René Cassin' %}
        <p>
          A key educational player in the Auvergne-Rhône-Alpes region,
          the René Cassin Campus has for 20 years united the widest
          range of schools and training centers in the region, with
          13 professional skills streams to ensure a successful training-employment link.
        </p>
        <p>
          Since its creation, this unique place has remained true to
          its promise to help students embark on their future with confidence
          and enthusiasm, and to meet the recruitment needs of companies to
          support their development.
        </p>
      {% elif company == 'IPI' %}
        <p>
          IPI, the IGENSIA Education Group's IT school, supports over
          1,000 learners every year in their professional development
          through state-recognized diplomas and programs tailored to their needs.
        </p>
        <p>
          IPI aims to train expert, responsible and adaptable IT professionals
          to meet the needs of a constantly changing world.
        </p>
        <p>
          Our ambition is to provide all our students with the essential
          keys to success in a demanding sector that requires expertise and
          understanding of the economic, financial and strategic challenges
          facing companies, as well as a keen sense of customer relations.
        </p>
      {% elif company == 'EPSI' %}
        <p>
          EPSI is the IT engineering school founded in 1961 by industry
          professionals to respond in real time to the skills needs of
          companies and regions. Today, the school trains experts in the
          fields of AI, cybersecurity, cloud, data, development and system infrastructure.
        </p>
        <p>
          We are a post-baccalaureate school with no preparatory courses,
          opening up a whole new world of possibilities for those with a
          passion for coding and innovation. Accessible to all profiles,
          with the highest standards and support. Our courses are accessible
          via apprenticeship and VAE.
        </p>
      {% elif company == 'Entr\'ouvert' %}
        <p>
          Entr'ouvert is a cooperative company attached to the principle of
          company democracy. Employees own the company in equal shares, decisions
          are taken based on the "1 vote per employee" principle. We privilege an
          organic operating mode, close to the one we find in a number of free
          software communities. This is an operating mode that is comfortable to
          us and overall efficient to produce free software.
        </p>
        <p>
          Entr'ouvert has a thorough knowledge of free software communities and
          their operating mode. Preserving and promoting the free software
          ecosystem is part of the structure purposes.
        </p>
        <p>
          Entr'ouvert is the publisher of a free (GNU GPL) Citizen-state
          Relationship Management, named Publik. It is used by many cities, in
          France and Belgium.  This solution is developed in Python, with the
          Django framework. At Entr'ouvert, Python and Django are the preferred
          tools when something needs to be written, be it a big software or a
          little script.
        </p>
      {% elif company == 'Elastic' %}
        <p>
        More than 50% of the Fortune 500 uses Elastic to solve smarter and innovate faster with the power of Search AI. Elastic, the Search AI Company, integrates its expertise in search technology with artificial intelligence to help everyone transform the exponential growth of underutilized, unstructured data into answers, actions, and outcomes. Elastic's Search AI Platform is the foundation for Elastic’s two out-of-the-box solutions, Elastic Observability and Elastic Security, and is the platform of choice for developers seeking to build next-generation AI applications and services.
        </p>
      {% elif company == "Yaal Coop" %}
        <p>
          Yaal Coop is a cooperative specialized in consulting, development and services hosting.
          The company is located in Bordeaux and has 5 salaried partners.
          Python is our favorite language to write web services, scripts, free software and almost every cooperative projects.
        </p>
      {% elif company == 'Kraken' %}
        <p>Founded in 2017, Kraken Technologies develops a revolutionary operating system for the energy sector. Our mission is to transform energy resource management by optimizing renewable energy production and improving the efficiency of decentralized networks. By 2020, we expanded our presence internationally. Today, our technology is used in 17 countries, managing over 54 million customer accounts and supervising 42 GW of contracted power. In 2021, we strengthened our presence in Europe through strategic collaborations with several major energy providers.</p>

        <p>Our flexible and adaptable platform allows companies to reduce costs while delivering high-quality customer experiences. It is designed to support market players in their transition to more sustainable and decarbonized energy models. At Kraken, we play a key role in transforming the global energy sector by providing robust, scalable tools tailored to current challenges.</p>
      {% elif company == 'Kobalt' %}
        <p>
          At Kobalt, we create customised, useful, robust and sustainable solutions. We don't take on multiple projects; we choose the ones that matter and carry them out with commitment.
        </p>
        <p>
          How do we do it?
        </p>
        <p>
          Thanks to three pillars:
        </p>
        <ol>
          <li>A team that is uncompromising on quality and customers who trust us</li>
          <li>Cutting-edge open source tools and a vibrant community</li>
          <li>Solid environmental commitments and eco-design at the heart of our methodology</li>
        </ol>
        <p>
          What do we offer?
        </p>
        <p>
          Tailor-made support for your project. From design to maintenance of the solution, including its development and hosting.
        </p>
      {% elif company == "EuroPython Society" %}
        <p>
          The EuroPython Society (EPS) is a Swedish non-profit
          organization which organizes EuroPython conferences,
          supports the Python community in Europe and holds the rights
          to the EuroPython conference series and trademarks.
        </p>
        <p>
          The EPS was formed in 2004, with the mission to turn
          EuroPython into a successful Python conference series for
          the years to come. In 2016, we have extended our mission to
          further the use of the programming language Python in Europe
          and organize events centered around the programming language
          Python to support this.
        </p>
        {% elif company == 'Scalingo' %}
        <p>
            Scalingo is a French Platform-as-a-Service (PaaS) for sovereign cloud
            hosting. It enables companies and institutions to deploy, manage, and
            scale web applications and databases in a secure, stable, and
            regulation-compliant environment.
        </p>
        <p>
            Designed for developers and IT teams, Scalingo automates infrastructure
            management (scalability, security, monitoring, backups, updates…),
            allowing teams to focus on their product. Deployments happen in a few
            clicks or via CI/CD, with no DevOps expertise required.
        </p>
        <p>
            All data is hosted in France on 3DS Outscale’s sovereign infrastructure,
            SecNumCloud 3.2 qualified by ANSSI. Scalingo is ISO 27001 and HDS
            (Health Data Hosting) certified, and is pursuing its own SecNumCloud
            qualification.
        </p>
        <p>
            Over 1000 clients trust us: public institutions, local governments,
            agencies, startups, and large enterprises such as the Ministry of the
            Interior, Engie, Yespark, Pix, Ingenico Group, and Le Wagon.
        </p>
        <p>
          Scalingo is more than a host: it’s a trusted partner for a simple,
          sovereign, secure digital future.
        </p>
      {% elif company == 'itarverne' %}
        <p>
          We specialise in web development with strong expertise in Python. We support clients with POCs
          (rapid implementation of an idea in software to verify its proper functioning) or MVPs
          (application development to verify the marketability of the client's idea), technical support to
          help our clients' teams be more efficient, technical mentoring to resolve technical issues, and more.
        </p>
        <p>
          With 18 years of experience, we have a wide range of skills that enable us to take on a wide variety of projects.
        </p>
      {% elif company == 'April' %}
        <p>
          APRIL is the creator and leader in wholesale insurance brokerage, with a network of over
          15,000 partner brokers in France and 17,000 worldwide. The group is recognised in France,
          Europe, Asia and North America for its expertise in health and personal protection insurance
          for individuals, professionals and small businesses, loan insurance, international health insurance,
          niche damage insurance and wealth management. In 2024, APRIL recorded a turnover of €860 million.
        </p>
        <p>
          Every day, APRIL's 3,000 employees shape the future of insurance by offering its customers and
          partners a remarkable experience that combines the best of human relations and technology.
        </p>
        <p>
          Within the group, the data teams are following an ambitious roadmap in terms of operational performance,
          improving the customer experience, supporting intermediary and direct distribution, and also contributing
          to experiments in artificial intelligence.
        </p>
        <p>
          The ambition is to be able to implement around twenty use cases over the next two years, increasingly
          focused on predictive and probabilistic analyses, requiring widespread use of the Python language.
        </p>
      {% elif company == 'Navicat' %}
        <p>
        <strong>Navicat is the all-in-one solution that simplifies and accelerates your database management.</strong>
With an intuitive interface and powerful features, you can easily manage MySQL, PostgreSQL, Oracle, SQL Server, MariaDB, SQLite, MongoDB, Redis, SQLite, or Snowflake — all from a single tool. Backups, synchronization, automation, and visualization become fast and reliable.
        </p>
        <p>
        Designed for developers, DBAs, and analysts, Navicat boosts productivity while ensuring security and stability.
        With Navicat Cloud and On-Premise, your teams can collaborate seamlessly, no matter where they are.
        </p>
        <p>
        Developed by <strong>PremiumSoft CyberTech Ltd</strong>, a pioneering company based in Singapore for over 20 years, Navicat is trusted by thousands of businesses worldwide.
        <strong>Our mission: to turn database complexity into a simple, efficient, and collaborative experience.</strong>
        </p>
      {% elif company == 'Alma' %}
        <p>Alma is a fintech founded in 2018. We offer flexible payment solutions for physical and online stores, with deferred payment and 2, 3, or 4 installments. We also help consumers stay in control of their budget with the Alma app and card. We prioritize the experience and satisfaction of our customers with simple and pleasant to use tools. We operate in ten European countries and work with more than 7500 major brands such as Maisons du Monde, Nature et Découvertes, Etam, Le Slip Français, Jacquemus, Maje…</p>
      {% elif company == 'majerti' %}
        <p>
          Majerti specialises in software development using the Python language and Linux system administration. We support you by:
        </p>
        <ul>
          <li>Providing expertise in the administration of your infrastructure (resilience, virtualisation, security)</li>
          <li>Supporting your development teams (training, technical support)</li>
          <li>To advise you on strategic choices for your information system (network architecture, software architecture)</li>
        </ul>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}


{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
      'Platine' if lang == 'fr' else 'Platinum': {
          'Campus René Cassin': 'https://www.campus-renecassin.com/',
          'IPI': 'https://www.ipi-ecoles.com/category/campus/lyon/',
          'EPSI': 'https://www.epsi.fr/campus/lyon',
          'EuroPython Society': 'https://www.europython-society.org/',
      },

      'Or' if lang == 'fr' else 'Gold': {
          'April': 'https://www.april.com/',
          'Elastic': 'https://www.elastic.co/',
          'Kraken': 'https://kraken.tech',
          'Scalingo': 'https://scalingo.com',
          'Navicat': 'https://www.navicat.fr/'
      },

      'Argent' if lang == 'fr' else 'Silver': {
          'Entr\'ouvert': 'http://www.entrouvert.com/',
          'Kobalt': 'https://www.kobalt.fr/',
          'Alma': 'https://almapay.com/',
      },

      'Bronze': {
          'Yaal Coop': 'https://yaal.coop/',
          'itarverne': 'https://itarverne.fr/',
          'majerti': 'https://majerti.fr/',
      },

      'Cœur' if lang == 'fr' else 'Heart': {
	  'WeasyPrint': 'https://weasyprint.org/'
      },

      'Partenaires' if lang == 'fr' else 'Partners': {
          'Annabelle Nicvert': 'https://www.linkedin.com/in/annabelle-nicvert-158127373/',
          'galae': 'https://galae.net',
          'Gentils nuages': 'https://gentilsnuages.fr/',
          'Octopuce': 'https://www.octopuce.fr/',
          'MixTeen': 'https://mixteen.org/',
          'Galactée': 'https://www.galactee.org/',
          'LeBureau': 'https://lebureau.coop/',
          'StickerApp': 'https://stickerapp.fr/',
      },
  } %}

  {% set png_logos = ('Campus René Cassin', 'IPI', 'EPSI', 'Octopuce', 'Elastic', 'Kraken', 'Kobalt', 'itarverne', 'Galactée', 'LeBureau', 'April', 'Navicat', 'majerti', 'StickerApp') %}

  {% if lang == 'fr' %}
    <p>
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p>
      <a href="{{ url_for('page', name='support', lang=lang)}}">Become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {{ brochures() }}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            {% if link %}
              <a href="{{ link }}" class="logo">
            {%- endif -%}
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" loading="lazy" />
            {%- if link -%}
              </a>
            {% endif %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}


{% macro sponsoring(lang) %}
  {% if lang == 'en' %}
    <section>
      <h3>Sponsor PyConFR</h3>

      <p>
        Patronage allows us each year to cover costs such as safety, hot and cold
        drinks, cleaning, video coverage, financial assistance…
      </p>

      <p>
        PyConFR is organized by volunteers from the francophone Python community
        and allows this community to meet, exchange and grow each year.
      </p>

      <p>
        If you wish to support us financially, you can contact the treasurer of
        AFPy (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>) in
        order to discuss the details.
      </p>

      <p>
        This year, we propose the following amounts and counterparts:
      </p>

      <table>
        <thead>
          <tr>
            <th>Benefit</th>
            <th>Heart (free amount)</th>
            <th>Bronze (€500)</th>
            <th>Silver (€1,000)</th>
            <th>Gold (€2,000)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name and logo on the <a href="{{ url_for('page', name='sponsors', lang=lang) }}">"Sponsors" page</a></td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>1000-character presentation on the <a href="{{ url_for('page', name='sponsors', lang=lang) }}">"Sponsors" page</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo on the <a href="{{ url_for('page', name='index', lang=lang) }}">index page</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo on posters</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Kakemono in conference rooms</td>
            <td> -</td>
            <td> -</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Presentation of the enterprise (2 min) at the conferences kick-off (Saturday)</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Stand in the hall (Saturday and Sunday)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Benefits are available as soon as the invoice is paid.</strong></p>
    </section>
  {% elif lang == 'fr' %}
    <section>
      <h3>Financer PyConFR</h3>

      <p>
        Le mécénat nous permet chaque année de couvrir les frais comme la
        sécurité, des boissons chaudes et fraîches, le nettoyage, la captation
        vidéo, les bourses…
      </p>

      <p>
        PyConFR est organisé par des bénévoles de la communauté Python
        francophone et permet à cette communauté de se rencontrer, d'échanger et
        de grandir chaque année.
      </p>

      <p>
        Si vous souhaitez nous soutenir financièrement, vous pouvez contacter le
        trésorier de l'AFPy
        (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>) afin de
        discuter des détails.
      </p>

      <p>
        Cette année, nous proposons les montants et contreparties suivantes :
      </p>

      <table>
        <thead>
          <tr>
            <th>Bénéfice</th>
            <th>Cœur (montant libre)</th>
            <th>Bronze (500 €)</th>
            <th>Argent (1000 €)</th>
            <th>Or (2000 €)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nom et logo sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page « Sponsors »</a></td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Présentation de 1000 caractères sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page « Sponsors »</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo sur <a href="{{ url_for('page', name='sponsors', lang=lang) }}">la page d'accueil</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo sur les affiches</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Panneau dans les salles de conférence</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Présentation de l'entreprise (2 min) en conférence plénière (samedi)</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Stand dans le hall (samedi et dimanche)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Les contreparties sont effectives dès réception du règlement.</strong></p>

    </section>
  {% endif %}
{% endmacro %}
